			.container{
				width: 90%;
				border:1px solid #bfbfbf;
				margin-left:30px;
			}
			.mayla-td{
				padding-left:5px;
			}
			
			.input_field{
				border: 1px solid #a6a6a6;
				width: 250px;
				height: 25px;
				/*border-radius: 4px;*/
				margin-top: 10px;
				padding-left: 20px;
				color: #6c6c6c;
				background-color: #fcfcfc;
				outline: none;
				display:block;
			}

			.msgbox{
				width: 420px;
				height: 100px;
				border: 1px solid #a6a6a6;
				border-radius: 4px;
				margin-top: 10px;
				padding-left: 10px;
				color: #6c6c6c;
				background-color: #fcfcfc;
				resize:none;
				display: block;
			}

			.input_field:focus, textarea:focus{
				box-shadow: 0 0 5px rgba(81, 203, 238, 1);
				border: 1px solid rgba(81, 203, 238, 1);
			}

			.cform_btn{
				display: inline;
				background-color: red;
				border: 1px solid #a6a6a6;
				font-family: lobster;
				font-size: 20px;
				width: 230px;
				height: 40px;
				margin-top: 20px;
				margin-bottom:10px;
				padding-left: 10px;
				color: #fff;
			}

			.cform_btn:hover{
				background-color: #0095ff;
			}
			.contacts{
				text-align: center;
				font-family: Lobster;
				font-size: 45px;
				color:red;
/*				color: #0095ff;*/
			}
			body {
		max-width: 980px;
		margin: 5% auto;
	}
	.easy-modal,
	.easy-modal-animated {
		width: 600px;
		padding: 2em;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
		background-color: white;
		margin-bottom: 20px;
	}
	.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
  color: #ff8080;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=20);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}